footer{
   margin-top:140px ;
}

.footer__content{
   background-color: #D9D9D9;
   display: flex;
   height: 100px;
   align-items: center;
}

.footer__content-contacts{
   margin-left:140px ;
}

.footer__content-contacts a{
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   font-size: 20px;
   text-decoration: none;
   color: black;
}

.footer__content-links{
   margin-left: 365px;
}

.footer__content-links a{
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   font-size: 20px;
   text-decoration: none;
   color: black; 
}